
 {% load static %}
<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <title>Nkongne</title>
{% load staticfiles %}
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume Template">
    <meta name="author" content="nkongne">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/pillar-1.css">


</head>

<body>

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="row">
				    <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
				    <img class="picture" src=" {% static "assets/images/pp.png" %}" >
				    </div><!--//col-->
				    <div class="col">
					    <div class="row p-4 justify-content-center justify-content-md-between">
						    <div class="primary-info col-auto">
							    <h4 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Nkongne</h4>
							    <div class="title mb-3">Full Stack Developer</div>
							    <ul class="list-unstyled">
								    <li class="mb-2"><a class="text-link" href="nkongne@gmail.com"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>nkongne@gmail.com</a></li>
								    <li><a class="text-link" href="#"><i class="fas fa-mobile-alt fa-fw me-2" data-fa-transform="grow-6"></i>00237 675252771</a></li>
							    </ul>
						    </div><!--//primary-info-->
						    <div class="secondary-info col-auto mt-2">
							    <ul class="resume-social list-unstyled">
					                <li class="mb-3"><a class="text-link" href="https://www.linkedin.com/in/nkongne-wily-armand"><span class="fa-container text-center me-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/nkongne-wily-armand</a></li>
					                <li class="mb-3"><a class="text-link" href="https://www.github.com/Nkongne"><span class="fa-container text-center me-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/Nkongne</a></li>
					                <li class="mb-3"><a class="text-link" href="https://stackoverflow.com/users/14533178/nkongne"><span class="fa-container text-center me-2"><i class="fab fa-stack-overflow fa-fw"></i></span>stackoverflow.com/users/14533178/nkongne</a></li>

							    </ul>
						    </div><!--//secondary-info-->
					    </div><!--//row-->

				    </div><!--//col-->
			    </div><!--//row-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">Creative web developer over five years of experiences. I have 	Leverage technical, analytical and problem-solving skills to create 	dynamic, high-speed websites, apps and platforms fueling 	competitive advantage and revenue growth.</p>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Computer science Teacher</h3>
										        <div class="resume-company-name ms-auto">Higher Institute Mony Keng</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2017 - Present</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">

										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
										    <p>Teaching computer science </p>
										    <ul>
											    <li>Teaching programming (C, Java, PHP, Python).</li>
											    <li>Teaching industrial computing(Artificial intelligence and robotic).</li>
											    <li>Teaching system analysis(UML and MERISE).</li>
											    <li>Teaching SQL.</li>
                                                                                            <li>Teaching Network and Security.</li>
										    </ul>

										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Java</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">C</span></li>
                                                                                              <li class="list-inline-item"><span class="badge bg-secondary badge-pill">C++</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Angular</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Python</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">jQuery</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">PostgresSQL</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">DevOps</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Code Review</span></li>
                                                                                            <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Unit Testing</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Wireframing</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Sketch</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Balsamiq</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">WordPress</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Shopify</span></li>
                                                                                             <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Arduino</span></li>
                                                <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Raspberry Pi</span></li>
										    </ul>


                                                                                      <p>Contact :Brice Nguekam - (00237)693552463</p>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">System and network administrator</h3>
										        <div class="resume-company-name ms-auto">GTA Cameroon</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2014 - 2017</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">

										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements :</h4>
                                                                                    <ul>
                                                                                        <li><p>Installation and configuration of software, hardware and networks </p></li>
                                                                                    <li><p>Ensure security and efficiency of IT infrastructure</p></li>
                                                                                    <li><p>Monitor system performance and troubleshoot issues</p></li>
                                                                                    <li><p>Identify system requirements and install upgrades</p></li>
                                                                                    <li><p>Maintains, secure and upgrade a web system </p></li>
                                                                                    <li><p>Create a backup and safeguard the data</p></li>
                                                                                    <li><p>Perform account setup for new and old employees </p></li>
                                                                                    <li><p>Track emerging technologies and implement them in the organization </p></li>
                                                                                    <li><p>Maintain, troubleshoot and administer the use of local area networks (LANs), wide area networks (WANs), mainframe networks, computer workstations, connections to the Internet and peripheral equipment</p></li>
                                                                                     <li><p>Operate master consoles to monitor the performance of computer systems and networks and to co-ordinate access and use of computer networks</p></li>
                                                                                      <li><p>Provide problem-solving services to network users</p></li>
                                                                                      <li><p>Implement network traffic and security monitoring software, and optimize server performance</p></li>
                                                                                      <li><p>Perform routine network start up and close down and maintain control records</p></li>
                                                                                    </ul>





										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
                                                                                        <li class="list-inline-item"><span class="badge bg-secondary badge-pill">SD-WAN</span></li>
                                                                                        <li class="list-inline-item"><span class="badge bg-secondary badge-pill">VPN</span></li>
                                                                                        <li class="list-inline-item"><span class="badge bg-secondary badge-pill">DNS</span></li>
                                                                                        <li class="list-inline-item"><span class="badge bg-secondary badge-pill">DHCP</span></li>
                                                                                          <li class="list-inline-item"><span class="badge bg-secondary badge-pill">OneLogin</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">scripting languages : HTML,JavaScript,Bash,Python especially in a DevOps environment. </span></li>
                                                                                          <li class="list-inline-item"><span class="badge bg-secondary badge-pill">SQL</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Windows server</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Powershell</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Ubuntu server</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Centos</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">MySQL</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">AWS</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Google Cloud</span></li>
                                                                                            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">DataDog</span></li>
										    </ul>

                                                                                    <p>Contact :Nzokou pascal - (00237)243200002</p>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->



							    </div><!--//resume-timeline-->






						    </div>
					    </section><!--//experience-section-->
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
                                                            <h4 class="resume-skills-cat font-weight-bold"><u>Frontend</u></h4>
							        <ul class="list-unstyled mb-4">
								        <li class="mb-2">
								            <div class="resume-skill-name">React</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 98%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Angular</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 74%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">JavaScript</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 98%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>

								        <li class="mb-2">
								            <div class="resume-skill-name">Node.js</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 92%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">HTML/CSS/SASS/LESS</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 99%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
                                                            <h4 class="resume-skills-cat font-weight-bold"><u>Backend</u></h4>
							        <ul class="list-unstyled">
								        <li class="mb-2">
								            <div class="resume-skill-name">Python/Django</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 99%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Java/Arduino</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 92%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">PHP</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 86%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Postgres/SQL</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 99%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>

                                                                        <li class="mb-2">
								            <div class="resume-skill-name">WordPress/Shopify</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 82%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
                                                            <h4 class="resume-skills-cat font-weight-bold"><u>Others</u></h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">DevOps</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Code Review</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Git</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Unit Testing</span></li>
							            <li class="list-inline-item"><span class="badge badge bg-secondary badge-pill">Wireframing</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Sketch</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Docker</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Kubernetes</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">AWS</span></li>
                                                                    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">GraphQL</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Test Driven Development</span></li>
							            <li class="list-inline-item"><span class="badge bg-secondary badge-pill">JSON /JSON API</span></li>
                                                                      <li class="list-inline-item"><span class="badge bg-secondary badge-pill">XML/XSL/XSD</span></li>

						            </ul>
						        </div><!--//resume-skill-item-->
						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->
					    <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-2">
								        <div class="resume-degree font-weight-bold">MSc in Industrial Computing</div>
								        <div class="resume-degree-org">University of Buea</div>
								        <div class="resume-degree-time">2016 - 2018</div>
								    </li>
								    <li>
								        <div class="resume-degree font-weight-bold">BSc Computer and network</div>
								        <div class="resume-degree-org">IUT-FV -University of Dschang</div>
								        <div class="resume-degree-time">2010 - 2013</div>
								    </li>
							    </ul>
						    </div>
					    </section><!--//education-section-->

					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Native)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">French</span> <small class="text-muted font-weight-normal">(Professional)</small></li>

							    </ul>
						    </div>
					    </section><!--//language-section-->
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-1">Climbing</li>

								    <li class="mb-1">Cooking</li>
							    </ul>
						    </div>
					    </section><!--//interests-section-->

				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->


	    </div>
    </article>


    <footer class="footer text-center pt-2 pb-5">
	    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">nkongne@2021</small>
    </footer>



</body>
</html>

